<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
            }
        </style>
        <h1>Погода</h1>
        <h2>В {{ city_name }}</h2>
        <h3>Сегодня днём: <i> {{ today }} </i></h3>
        <h3>Сегодня вечером: <i> {{ tonight }} </i></h3>
        <h3>Завтра днём: <i> {{ tomorrow_day }} </i></h3>
        <style>
            .big-text {
                font-size: 20px;
        <h3>Завтра вечером: <i> {{ tomorrow_night }} </i></h3>
    </body>
</html>